<div class="signup-container">
  <h2>Create an Account</h2>
  <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        required
        [(ngModel)]="user.username"
        #usernameRef="ngModel"
        class="form-input"
        placeholder="Enter your username"
      />
      <div *ngIf="usernameRef.invalid && usernameRef.touched" class="error">
        Username is required.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        [(ngModel)]="user.email"
        #emailRef="ngModel"
        class="form-input"
        placeholder="Enter your email"
      />
      <div *ngIf="emailRef.invalid && emailRef.touched" class="error">
        Valid email is required.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        minlength="6"
        [(ngModel)]="user.password"
        #passwordRef="ngModel"
        class="form-input"
        placeholder="Create a password"
      />
      <div *ngIf="passwordRef.invalid && passwordRef.touched" class="error">
        Minimum 6 characters required.
      </div>
    </div>

    <div class="error" *ngIf="signupError">
      {{ signupError }}
    </div>

    <button type="submit" class="signup-button">Sign Up</button>
  </form>

<a routerLink="login" class="link-style" >Already having an Account</a>
</div>
